.js--image-preview {
    height: 225px;
    width: 225px;
    position: relative;
    overflow: hidden;
    background-image: url('');
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hidden {
    display: none;
}